<div class="results">
  {{#each favPets}}
  <div class="favItems">
    <h1 class="name">{{this.name}}</h1>
    <p class="li-size-gender">{{this.size}}</p>
    <p class="li-size-gender">{{this.gender}}</p>
    <div class="fav-photo"> <img src="{{this.photos.medium}}" alt=""></div>
    <button class="button" onclick="window.location.href='{{this.url}}'">Adoption</button>
  </div>
  {{/each}}

</div>